<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<staticContent>
				<remove fileExtension=".dll" />
				<mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
				<remove fileExtension=".json" />
				<mimeMap fileExtension=".json" mimeType="application/json" />
				<remove fileExtension=".woff" />
				<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
				<remove fileExtension=".woff2" />
				<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
				<remove fileExtension=".wasm" />
				<mimeMap fileExtension=".wasm" mimeType="application/wasm" />
				<remove fileExtension=".svg" />
				<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
				<remove fileExtension=".map" />
				<mimeMap fileExtension=".map" mimeType="application/octet-stream" />
				<remove fileExtension=".properties" />
				<mimeMap fileExtension=".properties" mimeType="application/octet-stream" />
			</staticContent>

			<handlers>
				<add name="aspnetcore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>

			<aspNetCore
				
			  processPath="%LAUNCHER_PATH%"
			  arguments="%LAUNCHER_ARGS%"
			  stdoutLogEnabled="true"
			  stdoutLogFile=".\logs\stdout"
			  hostingModel="InProcess" />
			
		</system.webServer>
	</location>
</configuration>
